/* styles.css */
nav {
    background-color: #b30000; /* Dark red */
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a:hover {
    color: #e60000; /* Lighter red on hover */
}

/* Heroic red background color */
body {
    background-color: #990000; /* Slightly darker red */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white; /* White body font color */
    font-size: 20px; /* Increased font size */
}

.container {
    padding: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container h1 {
    font-size: 36px;
}

.container p {
    font-size: 18px;
    margin-top: 20px;
}

.info-box {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-box-2{
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

